@using TesteCadastro.Models;
@model Documents



<form method="POST" asp-action="Cadastro" class="container-form">

    <div>
        <div>
            <label asp-for="titulo">Título</label>
            <input asp-for="titulo" />
        </div>
        <div>
            <label asp-for="categoria">Categoria</label>
            <input asp-for="categoria" />
        </div>
        <select asp-for="processo" asp-items="@(new SelectList(Model.processos, "id", "name"))">
            <option>Processo</option>
        </select>
    </div>
    <div>
        <button type="submit">Cadastro</button>
    </div>
</form>
