@using RegisterDocuments.Models;
@model Documents
@using Microsoft.AspNetCore.Mvc;

<form method="POST" asp-action="Cadastro" class="container-form" id="frm" enctype="multipart/form-data">

    <div class="form">
        <div class="item-form">
            <label asp-for="codigo">Código</label>
            <input asp-for="codigo" />
        </div>
        <div class="item-form">
            <label asp-for="titulo">Título</label>
            <input asp-for="titulo" />
        </div>
        <div class="item-form">
            <select asp-for="processo" asp-items="@(new SelectList(Model.processos, "id", "name"))" class="form-select"
                style="width: 10rem;">
                <option value="" disabled selected>Processo </option>
            </select>
        </div>
        <input type="file" asp-for="postedFiles" accept=".pdf,.doc,.xls,.docx,.xlsx,.txt" />
        <div>
            <button type="submit" class="btn btn-primary">Cadastro</button>
            @if (TempData["alerta"] != null)
            {
                <p>@TempData["alerta"]</p>
            }
        </div>
</form>
