@using RegisterDocuments.Models;
@model Documents
@using Microsoft.AspNetCore.Mvc;

<form method="POST" asp-action="Register" class="container-form" id="frm" enctype="multipart/form-data">

    <div class="form">
        <div class="item-form">
            <label asp-for="code">Código</label>
            <input asp-for="code" />
        </div>
        <div class="item-form">
            <label asp-for="title">Título</label>
            <input asp-for="title" />
        </div>
        <div class="item-form">
            <label asp-for="category">Categoria</label>
            <input asp-for="category" />
        </div>
        <div class="item-form">
            <select asp-for="process" asp-items="@(new SelectList(Model.processList, "id", "name"))" class="form-select"
                style="width: 10rem;">
                <option value="" disabled selected>Processo </option>
            </select>
        </div>
        <input type="file" asp-for="postedFiles" accept=".pdf,.doc,.xls,.docx,.xlsx,.txt" />
        <div>
            <button type="submit" class="btn btn-primary">Cadastro</button>
            @if (TempData["alert"] != null)
            {
                <p>@TempData["alert"]</p>
            }
        </div>
</form>
