@using RegisterDocuments.Models;
@model Documents;
<section class="Cards">
    <div class="Cadastro">
        <div class="card p-2  " style="width: 18rem;">
            <img src="img/documentos.png" class="imagem">
            <a class="card-block stretched-link text-decoration-none" href="/Documents/Cadastro">
                <h4 class="card-title text-center">Cadastrar Documentos</h4>
            </a>
        </div>
    </div>

    <div class="Lista">
        <div class="card p-2  " style="width: 18rem;">
            <img src="img/documentos.png">
            <a class="card-block stretched-link text-decoration-none" href="/Documents/Lista">
                <h4 class="card-title text-center">Listagem de Documentos</h4>
            </a>
        </div>
    </div>

</section>
