@using TesteCadastro.Models;
@model Documents;

<section class="Cadastro">
    <div class="card p-2  " style="width: 18rem;">
        <img src="img/documentos.png">
        <a class="card-block stretched-link text-decoration-none" href="/Documents/Cadastro">
            <h4 class="card-title text-center">Cadastrar Documentos</h4>
        </a>
    </div>
</section>
<section class="Lista">
    <div class="card p-2  " style="width: 18rem;">
        <img src="img/documentos.png">
        <a class="card-block stretched-link text-decoration-none" href="/Documents/Lista">
            <h4 class="card-title text-center">Listagem de Documentos</h4>
        </a>
    </div>
</section>
